/*
  Common invoice styles. These styles will work in a browser or using the HTML
  to PDF anvil endpoint.
*/

.web-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 30px;
}

body {
  font-size: 16px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

table tr td {
  padding: 0;
}

table tr td:last-child {
  text-align: right;
}

.bold {
  font-weight: bold;
}

.right {
  text-align: right;
}

.large {
  font-size: 1.55em;
}

.total {
  font-weight: bold;
  color: #fb7578;
}

.td_name {
  font-size: 1em;
  font-weight: bold;
  color: #0f0f0f;
}

.td_qty {
  font-size: 1em;
  font-weight: bold;
  color: #0f0f0f;
}

.td_price {
  font-size: 1.1em;
  font-weight: bold;
  color: #0f0f0f;
}

.td_subtotal {
  font-size: 1.1em;
  font-weight: bold;
  color: #0f0f0f;
}

.logo-container {
  margin: 20px 0 30px 0;
}

#info-document-title {
    font-size: 1.8em;
    text-align: right;
    color: #000000;
    margin-bottom: 10px;
}

#info-document {
    font-size: 1.2em;
    text-align: right;
    color: #999;
    border-bottom: 2px solid #ddd;
    margin-bottom: 10px;
}
#info-document .t1 {
    color: #6d6b6b;
    display: inline;
    font-weight: 200;
    padding: 10px 5px 15px 5px;
    font-size: 0.75em;
    text-transform: uppercase;
}
#info-document .t2 {
    color: #000000;
    display: inline;
    font-weight: 700;
    padding: 10px 0 15px 5px;
    font-size: 0.75em;
    text-transform: uppercase;
}

.info {
    float: left;
    padding: 0px;
    height: 100px; /* Should be removed. Only for demonstration */
}

.customer {
  width: 40%;
}
.customer .title {
  text-align: left;
  color: #999;
  padding: 0px 0 0px 0;
  font-size: 0.75em;
  text-transform: uppercase;
}
.customer .name {
  text-align: left;
  color: #5e5d5d;
  padding: 5px 0 0px 0;
  font-size: 0.85em;
  font-weight: 700;
}
.customer .phone {
  text-align: left;
  display: block;
  text-transform: uppercase;
}
.customer .phone .title {
  text-align: left;
  display: inline;
  color: #999;
  padding: 0px 0 0px 0;
  font-size: 0.75em;
  text-transform: uppercase;
}
.customer .phone .name {
  text-align: right;
  display: inline;
  color: #999;
  padding: 0px 0 0px 0;
  font-size: 0.85em;
  font-weight: 700;
  text-transform: uppercase;
}

.customer .shippAddress {
  text-align: left;
  display: block;
  text-transform: uppercase;
}
.customer .shippAddress .title {
  text-align: left;
  display: inline;
  color: #999;
  padding: 0px 0 0px 0;
  font-size: 0.75em;
  text-transform: uppercase;
}
.customer .shippAddress .name {
  text-align: right;
  display: inline;
  color: #999;
  padding: 0px 0 0px 0;
  font-size: 0.85em;
  font-weight: 700;
  text-transform: uppercase;
}
.business {
  width: 30%;
}
.business .title {
  text-align: left;
  color: #999;
  padding: 0px 0 0px 0;
  font-size: 0.75em;
  text-transform: uppercase;
}
.business .name {
  text-align: left;
  color: #5e5d5d;
  padding: 5px 0 0px 0;
  font-size: 0.85em;
  font-weight: 700;
}
.business .address {
  text-align: left;
  color: #5e5d5d;
  padding: 5px 0 0px 0;
  font-size: 0.85em;
  font-weight: 700;
}

.business .phone {
  text-align: left;
  display: block;
  text-transform: uppercase;
}
.business .phone .title {
  text-align: left;
  display: inline;
  color: #999;
  padding: 0px 0 0px 0;
  font-size: 0.75em;
  text-transform: uppercase;
}
.business .phone .name {
  text-align: right;
  display: inline;
  color: #999;
  padding: 0px 0 0px 0;
  font-size: 0.85em;
  font-weight: 700;
  text-transform: uppercase;
}

.sales {
  width: 30%;
  text-align: end;
}
.sales .created {
  text-align: right;
  display: block;
}
.sales .created .title {
  text-align: right;
  display: inline;
  color: #999;
  padding: 0px 0 0px 0;
  font-size: 0.75em;;
}
.sales .created .name {
  text-align: right;
  display: inline;
  color: #999;
  padding: 0px 0 0px 0;
  font-size: 0.75em;
  font-weight: 700;
}
.sales .tanggal .title {
  text-align: right;
  display: inline;
  color: #999;
  padding: 0px 0 0px 0;
  font-size: 0.75em;
  text-transform: uppercase;
}
.sales .tanggal .name {
  text-align: right;
  display: inline;
  color: #999;
  padding: 0px 0 0px 0;
  font-size: 0.85em;
  font-weight: 700;
  text-transform: uppercase;
}
.sales .status {
  text-align: right;
  display: block;
  text-transform: uppercase;
}
.sales .status .title {
  text-align: right;
  display: inline;
  color: #999;
  padding: 0px 0 0px 0;
  font-size: 0.85em;
  text-transform: uppercase;
}
.sales .status .name {
  text-align: right;
  display: inline;
  color: #1b1a1a;
  padding: 0px 0 0px 0;
  font-size: 0.75em;
  font-weight: 900;
  text-transform: uppercase;
}


/* Clear floats after the columns */
.row-info:after {
  content: "";
  display: table;
  clear: both;
}
.sales-info-container {
  font-size: 0.875em;
}
.sales-info-container td {
  padding: 4px 0;
}


.line-items-container {
  margin: 30px 0;
  font-size: 0.875em;
}

.line-items-container th {
  text-align: left;
  color: #999;
  border-bottom: 2px solid #ddd;
  padding: 10px 0 15px 0;
  font-size: 0.75em;
  text-transform: uppercase;
}

.line-items-container th:last-child {
  text-align: right;
}

.line-items-container td {
  padding: 15px 0;
}

.line-items-container tbody tr:first-child td {
  padding-top: 25px;
}


.line-items-container.has-bottom-border tbody tr:last-child td {
  padding-bottom: 25px;
  border-bottom: 2px solid #ddd;
}

.line-items-container.has-bottom-border {
  margin-bottom: 0;
}

.line-items-container th.heading-quantity {
  width: 50px;
}
.line-items-container th.heading-price {
  text-align: right;
  width: 100px;
}
.line-items-container th.heading-subtotal {
  width: 100px;
}


.line-items-shipping {
  margin: 18px 0;
  font-size: 0.875em;
}

.line-items-shipping th {
  text-align: left;
  color: #999;
  border-bottom: 2px solid #ddd;
  padding: 5px 0 15px 0;
  font-size: 0.75em;
  text-transform: uppercase;
}

.line-items-shipping th:last-child {
  text-align: right;
}

.line-items-shipping td {
  padding: 5px 0;
}

.line-items-shipping tbody tr:first-child td {
  padding-top: 5px;
}


.line-items-shipping.has-bottom-border tbody tr:last-child td {
  padding-bottom: 5px;
  border-bottom: 2px solid #ddd;
}

.line-items-shipping.has-bottom-border {
  margin-bottom: 0;
}

.line-items-shipping th.heading-quantity {
  width: 50px;
}
.line-items-shipping th.heading-price {
  text-align: right;
  width: 100px;
}
.line-items-shipping th.heading-subtotal {
  width: 100px;
}

.remark {
    margin-top: 20px;
    width: 100%;
}
.remark .title {
  text-align: left;
  color: #999;
  padding: 0px 0 10px 0;
  text-transform: lowercase;
}
.remark .content {
  text-align: left;
  color: #999;
  padding: 10px 10px 10px 10px;
  font-size: 0.75em;
  border: 2px solid #aca8a8;
  border-radius: 7px;
}

.remark .nb {
  text-align: right;
  display: block;
  padding: 10px 10px 10px 10px;
}

.remark .nb .symbol {
    text-align: right;
    display: inline;
    color: #999;
}

.remark .nb .text {
    text-align: right;
    display: inline;
    color: #999;
    font-size: 0.75em;
}

.payment-info {
  width: 38%;
  font-size: 0.75em;
  line-height: 1.5;
}
.shipping-info {
  width: 38%;
}

.tax {
  font-size: 0.95em;
  font-weight: bold;
  color: #3e2f2f;
}

.ship {
  font-size: 0.95em;
  font-weight: bold;
  color: #3e2f2f;
}

.footer {
  margin-top: 40px;
}

.footer-thanks {
  font-size: 1.125em;
}

.footer-thanks img {
  display: inline-block;
  position: relative;
  top: 1px;
  width: 16px;
  margin-right: 4px;
}

.footer-info {
  float: right;
  margin-top: 5px;
  font-size: 0.75em;
  color: #ccc;
}

.footer-info span {
  padding: 0 5px;
  color: black;
}

.footer-info span:last-child {
  padding-right: 0;
}

.page-container {
  display: none;
}